.container-full {
    height: 100vh;
}
.contact-photo {
  width:200px;
}
body,html{
    height: 100%;
    background-color: #343a40 !important;
}
.flex-col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.fullname {
  font: Gilroy;
  margin-top: 1rem;
  font-weight: 100;
  font-size: 4rem;
  color: #fff;
}
.lastname {
  font-weight: normal;
}
.description {
  font: Gilroy;
  font-weight: 200;
  font-size: 1.5rem;
  color: #fff;
}
.btn {
  margin-top: 0.5rem !important;
}
@font-face {
    font-family: Gilroy;
    src: url(font/Gilroy-Thin.otf);
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: Gilroy;
    src: url(font/Gilroy-UntraLight.otf);
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: Gilroy;
    src: url(font/Gilroy-Regular.otf);
    font-weight: normal;
    font-style: normal;
}
.btn-vimeo:hover, .btn-vimeo:focus, .btn-vimeo:active, .btn-vimeo.active, .open>.dropdown-toggle.btn-vimeo .btn-vimeo:active:focus {
    color: #fff !important;
    background-color: #1ab7ea !important;
    border-color: #1ab7ea !important;
}
.btn-behance:hover, .btn-behance:focus, .btn-behance:active, .btn-behance.active, .open>.dropdown-toggle.btn-behance .btn-behance:active:focus {
    color: #fff !important;
    background-color: #000 !important;
    border-color: #000 !important;
}
.btn-portfolio:hover, .btn-portfolio:focus, .btn-portfolio:active, .btn-portfolio.active, .open>.dropdown-toggle.btn-portfolio .btn-portfolio:active:focus {
    color: #fff !important;
    background-color: #000 !important;
    border-color: #000 !important;
}
.btn-linkedin:hover, .btn-linkedin:focus, .btn-linkedin:active, .btn-linkedin.active, .open>.dropdown-toggle.btn-linkedin .btn-linkedin:active:focus {
    color: #fff !important;
    background-color: #0077B5 !important;
    border-color: #0077B5 !important;
}
.btn-instagram:hover, .btn-instagram:focus, .btn-instagram:active, .btn-instagram.active, .open>.dropdown-toggle.btn-instagram .btn-instagram:active:focus {
    color: #fff !important;
    background-color: #BE2A73 !important;
    border-color: #BE2A73 !important;
}
.btn-twitter:hover, .btn-twitter:focus, .btn-twitter:active, .btn-twitter.active, .open>.dropdown-toggle.btn-twitter .btn-twitter:active:focus {
    color: #fff !important;
    background-color: #4FA9DC !important;
    border-color: #4FA9DC !important;
}